In [ ]:
import pandas as pd
import pickle
import numpy as np

In [ ]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
508,7,Sri Lanka,New Zealand,0.1,1,0,Guyana,Providence Stadium
509,7,Sri Lanka,New Zealand,0.2,1,0,Guyana,Providence Stadium
510,7,Sri Lanka,New Zealand,0.3,0,0,Guyana,Providence Stadium
511,7,Sri Lanka,New Zealand,0.4,0,0,Guyana,Providence Stadium
512,7,Sri Lanka,New Zealand,0.5,0,0,Guyana,Providence Stadium
...,...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,0,Barbados,"Kensington Oval, Bridgetown"
162841,1361,Australia,India,19.5,0,MEK Hussey,Barbados,"Kensington Oval, Bridgetown"
162842,1361,Australia,India,19.6,1,0,Barbados,"Kensington Oval, Bridgetown"
163090,1364,England,New Zealand,0.1,2,0,London,Kennington Oval
163091,1364,England,New Zealand,0.2,0,MJ Lumb,London,Kennington Oval

In [ ]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                6243
venue                  0
dtype: int64

In [ ]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2349
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                    955
Adelaide Oval                               373
Sydney Cricket Ground                       373
Sharjah Cricket Stadium                     127
Name: count, dtype: int64

In [ ]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [ ]:
df['city'] = cities

In [ ]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [ ]:
df.drop(columns=['venue'],inplace=True)

In [ ]:
df.head()
print("The shape of database is:", df.shape)

The shape of database is: (51349, 7)

In [ ]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [ ]:
df = df[df['city'].isin(eligible_cities)]

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
629,8,Australia,West Indies,0.1,0,0,London
630,8,Australia,West Indies,0.2,0,0,London
631,8,Australia,West Indies,0.3,1,0,London
632,8,Australia,West Indies,0.4,0,SR Watson,London
633,8,Australia,West Indies,0.5,1,0,London
...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,0,Barbados
162841,1361,Australia,India,19.5,0,MEK Hussey,Barbados
162842,1361,Australia,India,19.6,1,0,Barbados
163090,1364,England,New Zealand,0.1,2,0,London
163091,1364,England,New Zealand,0.2,0,MJ Lumb,London

In [ ]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

<ipython-input-18-ceeb700eb00c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
629,8,Australia,West Indies,0.1,0,0,London,0
630,8,Australia,West Indies,0.2,0,0,London,0
631,8,Australia,West Indies,0.3,1,0,London,1
632,8,Australia,West Indies,0.4,0,SR Watson,London,1
633,8,Australia,West Indies,0.5,1,0,London,2
...,...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,0,Barbados,183
162841,1361,Australia,India,19.5,0,MEK Hussey,Barbados,183
162842,1361,Australia,India,19.6,1,0,Barbados,184
163090,1364,England,New Zealand,0.1,2,0,London,2
163091,1364,England,New Zealand,0.2,0,MJ Lumb,London,2

In [ ]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

<ipython-input-20-4fd5a57c1fcd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
<ipython-input-20-4fd5a57c1fcd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
629,8,Australia,West Indies,0.1,0,0,London,0,0,1
630,8,Australia,West Indies,0.2,0,0,London,0,0,2
631,8,Australia,West Indies,0.3,1,0,London,1,0,3
632,8,Australia,West Indies,0.4,0,SR Watson,London,1,0,4
633,8,Australia,West Indies,0.5,1,0,London,2,0,5
...,...,...,...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,0,Barbados,183,19,4
162841,1361,Australia,India,19.5,0,MEK Hussey,Barbados,183,19,5
162842,1361,Australia,India,19.6,1,0,Barbados,184,19,6
163090,1364,England,New Zealand,0.1,2,0,London,2,0,1
163091,1364,England,New Zealand,0.2,0,MJ Lumb,London,2,0,2

In [ ]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

<ipython-input-21-e7d17f656852>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
629,8,Australia,West Indies,0.1,0,0,London,0,0,1,1
630,8,Australia,West Indies,0.2,0,0,London,0,0,2,2
631,8,Australia,West Indies,0.3,1,0,London,1,0,3,3
632,8,Australia,West Indies,0.4,0,SR Watson,London,1,0,4,4
633,8,Australia,West Indies,0.5,1,0,London,2,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,0,Barbados,183,19,4,118
162841,1361,Australia,India,19.5,0,MEK Hussey,Barbados,183,19,5,119
162842,1361,Australia,India,19.6,1,0,Barbados,184,19,6,120
163090,1364,England,New Zealand,0.1,2,0,London,2,0,1,1
163091,1364,England,New Zealand,0.2,0,MJ Lumb,London,2,0,2,2

In [ ]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

<ipython-input-22-7ed065e8960c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
<ipython-input-22-7ed065e8960c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
629,8,Australia,West Indies,0.1,0,0,London,0,0,1,1,119
630,8,Australia,West Indies,0.2,0,0,London,0,0,2,2,118
631,8,Australia,West Indies,0.3,1,0,London,1,0,3,3,117
632,8,Australia,West Indies,0.4,0,SR Watson,London,1,0,4,4,116
633,8,Australia,West Indies,0.5,1,0,London,2,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,0,Barbados,183,19,4,118,2
162841,1361,Australia,India,19.5,0,MEK Hussey,Barbados,183,19,5,119,1
162842,1361,Australia,India,19.6,1,0,Barbados,184,19,6,120,0
163090,1364,England,New Zealand,0.1,2,0,London,2,0,1,1,119
163091,1364,England,New Zealand,0.2,0,MJ Lumb,London,2,0,2,2,118

In [ ]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)

<ipython-input-23-3f982fc8c0a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)

In [ ]:
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_left'] = 10 - df['player_dismissed']

<ipython-input-24-a21528734a1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
<ipython-input-24-a21528734a1f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
<ipython-input-24-a21528734a1f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
629,8,Australia,West Indies,0.1,0,0,London,0,0,1,1,119,10
630,8,Australia,West Indies,0.2,0,0,London,0,0,2,2,118,10
631,8,Australia,West Indies,0.3,1,0,London,1,0,3,3,117,10
632,8,Australia,West Indies,0.4,0,1,London,1,0,4,4,116,9
633,8,Australia,West Indies,0.5,1,1,London,2,0,5,5,115,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,4,Barbados,183,19,4,118,2,6
162841,1361,Australia,India,19.5,0,5,Barbados,183,19,5,119,1,5
162842,1361,Australia,India,19.6,1,5,Barbados,184,19,6,120,0,5
163090,1364,England,New Zealand,0.1,2,0,London,2,0,1,1,119,10
163091,1364,England,New Zealand,0.2,0,1,London,2,0,2,2,118,9

In [ ]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

<ipython-input-26-fad47fc85776>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [ ]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
629,8,Australia,West Indies,0.1,0,0,London,0,0,1,1,119,10,0.000000
630,8,Australia,West Indies,0.2,0,0,London,0,0,2,2,118,10,0.000000
631,8,Australia,West Indies,0.3,1,0,London,1,0,3,3,117,10,2.000000
632,8,Australia,West Indies,0.4,0,1,London,1,0,4,4,116,9,1.500000
633,8,Australia,West Indies,0.5,1,1,London,2,0,5,5,115,9,2.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162840,1361,Australia,India,19.4,0,4,Barbados,183,19,4,118,2,6,9.305085
162841,1361,Australia,India,19.5,0,5,Barbados,183,19,5,119,1,5,9.226891
162842,1361,Australia,India,19.6,1,5,Barbados,184,19,6,120,0,5,9.200000
163090,1364,England,New Zealand,0.1,2,0,London,2,0,1,1,119,10,12.000000
163091,1364,England,New Zealand,0.2,0,1,London,2,0,2,2,118,9,6.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35200 entries, 629 to 163091
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          35200 non-null  int64
 1   batting_team      35200 non-null  object
 2   bowling_team      35200 non-null  object
 3   ball              35200 non-null  float64
 4   runs              35200 non-null  int64
 5   player_dismissed  35200 non-null  int64
 6   city              35200 non-null  object
 7   current_score     35200 non-null  int64
 8   over              35200 non-null  object
 9   ball_no           35200 non-null  object
 10  balls_bowled      35200 non-null  int64
 11  balls_left        35200 non-null  int64
 12  wickets_left      35200 non-null  int64
 13  crr               35200 non-null  float64
dtypes: float64(2), int64(7), object(5)
memory usage: 4.0+ MB

In [ ]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five = []
for id in match_ids:
    group = groups.get_group(id)
    last_five.extend(group['runs'].rolling(window=30).sum().values.tolist())

In [ ]:
df['last_five'] = last_five

<ipython-input-30-83d24d575aa4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [ ]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [ ]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [ ]:
final_df.dropna(inplace=True)

In [ ]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [ ]:
final_df = final_df.sample(final_df.shape[0])

In [ ]:
final_df.sample(5)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
7654,England,West Indies,Mumbai,76,64,9,8.142857,39.0,182
32070,India,Sri Lanka,St Lucia,136,21,8,8.242424,39.0,163
27829,Australia,South Africa,Johannesburg,94,33,5,6.482759,23.0,166
29526,Pakistan,England,Dubai,64,47,6,5.260274,36.0,129
10483,Australia,West Indies,Mirpur,78,62,6,8.068966,37.0,178

In [ ]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
19716,West Indies,Bangladesh,Johannesburg,24,92,9,5.142857,24.0
11139,Pakistan,Australia,St Lucia,100,45,8,8.000000,38.0
31524,England,West Indies,Tarouba,62,77,7,8.651163,45.0
3363,West Indies,Bangladesh,Mirpur,76,50,8,6.514286,27.0
4578,England,West Indies,Bridgetown,98,68,8,11.307692,53.0
...,...,...,...,...,...,...,...,...
4692,England,New Zealand,Auckland,71,78,9,10.142857,52.0
26224,England,West Indies,Tarouba,97,70,10,11.640000,71.0
870,India,West Indies,London,141,3,3,7.230769,54.0
16309,South Africa,Pakistan,Durban,135,38,5,9.878049,63.0
27205,South Africa,West Indies,Tarouba,23,86,9,4.058824,20.0

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

import warnings
warnings.filterwarnings("ignore", category=UserWarning)

In [ ]:
trf = ColumnTransformer([
    ('onehot', OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False),
     ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [ ]:
pipe = Pipeline(steps=[
    ('transformer', trf),
    ('scaler', StandardScaler()),
    ('model', RandomForestRegressor())
])

In [ ]:

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print("Model Evaluation Results")
print(f" RÂ² Score: {r2:.4f}")
print(f" Mean Absolute Error (MAE): {mae:.2f}")

Model Evaluation Results
 RÂ² Score: 0.9798
 Mean Absolute Error (MAE): 2.00

In [ ]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [ ]:
import xgboost
xgboost.__version__

'2.1.4'

In [ ]:
input_df = pd.DataFrame({
    'batting_team': ['England'],
    'bowling_team': ['India'],
    'city': ['Bangalore'],
    'current_score': [79],
    'balls_left': [13*6],
    'wickets_left': [10],
    'crr': [79/7],
    'last_five': [46]
})

result = pipe.predict(input_df)
print(f"Predicted final score: {int(result[0])}")

Predicted final score: 197